.th-video-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: left;
	vertical-align: top;
	text-indent: 0;
}

.th-video-wrapper:focus {
	outline: none;
}

.th-video-fill-container{
	overflow: hidden;
}

.th-me-plugin {
	position: absolute;
}

.th-video-clear {
	clear: both;
}

.th-video-element{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.th-video-element video {
	height: 100%;
	width: 100%;
}

.th-video-poster {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: contain ;
	background-position: 50% 50% ;
	background-repeat: no-repeat ;
}

.th-video-poster img {
	display: none;
	border: 0;
	padding: 0;
}
